@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("./Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("./Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("./Montserrat-Light.ttf");
}